
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>

<footer>
  <h6>Contacteer de stad</h6>
  <ul>
    <li>Stedelijk contactcenter</li>
    <li>tel. 03 22 11 333</li>
    <li>info@stad.antwerpen.be</li>
    <li><a href="https://margodeleeck.github.io/Deleeck_Margo_oefweek5/">Link online versie</a></li>
  </ul>
<footer>
